:root {
    --step--2: clamp(0.7813rem, 0.7052rem + 0.3804cqi, 1rem);
    --step--1: clamp(0.9375rem, 0.8288rem + 0.5435cqi, 1.25rem);
    --step-0: clamp(1.125rem, 0.9728rem + 0.7609cqi, 1.5625rem);
    --step-1: clamp(1.35rem, 1.1402rem + 1.0489cqi, 1.9531rem);
    --step-2: clamp(1.62rem, 1.3343rem + 1.4285cqi, 2.4414rem);
    --step-3: clamp(1.944rem, 1.5587rem + 1.9265cqi, 3.0518rem);
    --step-4: clamp(2.3328rem, 1.8174rem + 2.5772cqi, 3.8147rem);
    --step-5: clamp(2.7994rem, 2.1145rem + 3.4244cqi, 4.7684rem);
  }

*{
    margin: 0;
    padding: 0;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

*:focus{
    outline: none;
}

html, body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: url('bg.jpg');
    background-color: rgba(21, 46, 68);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;
}


.navbar{
    z-index: 5;
    max-height: 75px;
    margin-top: 1%;
    width: 90%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    overflow: hidden;
    border-style: solid;
}

.navbar .logo{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.navbar .link-container{
    max-width: 35%;
    min-width: 35%;
    max-height: 70px;   
    vertical-align: middle;
}

.navbar .link{
    margin-inline: 3%;
    color: black;
    text-decoration: none;
    font-size: clamp(9px, 3vw, 15px);
}

.navbar .link:hover{
    text-decoration: underline;
    color: black;
}

.navbar .link:active{
    color: black;
}

.navbar .link:visited{
    color: black;
}

.navbar .button-container{
    display: flex;
    width: 10%;
    justify-self: flex-end;
    border-style: groove;
    justify-content: center;
    align-items: center;
}

.button {
    justify-self: flex-end;
    padding: 8px;
    width: 100px;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 50px;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    transition: background 0.3s;
}

.navbar #img{
    justify-self: flex-start;
    width: 40px;
    border-radius: 50px;
    border-style: solid;
    border: 3px solid black;
    margin-right: 5%;
}

#login{
    background: #9AB67B;
}

#book-now{
    background: #1C7C54;
    transition: background 0.3s;
}

#book-now:hover{
    cursor: pointer;
    background: #33a978;
}

.body-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.wrapper #left{
    display: inline-block;
    width: 45%;
    vertical-align: middle;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    margin: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

.wrapper #right{
    display: inline-block;
    width: 45%;
    vertical-align: middle;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    margin: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

#left .img{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.text{
    color: white;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    padding-left: 1%;
}

.wrapper .main-text{
    font-size: var(--step-1);
}

.text #sub-text{
    font-size: var(--step--1);
}

.wrapper img{
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-radius: 50px;
    width: 100%;
}

#right img{
    border-style: none;
}

#right .icon{
    display: inline-block;
    width: 30.5%;
    vertical-align: middle;
}

#right .text{
    width: 65%;
    margin-left: 1%;
}

/*appointments && pets*/

.app-pet{
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: left;
    margin: 1%;
    margin-top: .5%;
    overflow-y: scroll;
    height: 54vh;
}

.inner-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#appointment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.app-pet #title{
    padding-left: 2%;
    color: white;
    font-size: var(--step-3);
}

#appointment .date-container{
    display: flex;
    width: 30%;
    margin-left: 3%;
}

#appointment img{
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.date-container #date{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: var(--step-0);
}

#appointment .btn-container{
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: space-around;
}

.button{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10%; 
    font-size: 14px;
}

#resched{
    background: #1C7C54;
}

#cancel{
    background: #27455F;
}

#resched:hover{
    background: #3bb180;
}

#cancel:hover{
    background: #4d7ea8;
}

.container{
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}