*{
    margin: 0;
    padding: 0;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

*:focus{
    outline: none;
}

html, body{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-color: rgba(21, 46, 68);
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar{
    z-index: 5;
    max-height: 75px;
    margin-top: 1%;
    width: 90%;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    background: #ffffff;
}

.navbar .logo{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.navbar .link-container{
    display: inline-block;
    max-width: 35%;
    min-width: 35%;
    max-height: 70px;
    text-align: center;
    vertical-align: middle;
}

.navbar .link{
    margin-inline: 3%;
    display: inline-block;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    font-size: clamp(9px, 3vw, 15px);
}

.navbar .link:hover{
    text-decoration: underline;
    color: black;
}

.navbar .link:active{
    color: black;
}

.navbar .link:visited{
    color: black;
}

.navbar .button-container{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: middle;
}

.button {
    padding: 8px;
    width: 100px;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 50px;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    transition: background 0.3s;
}

#login{
    background: #9AB67B;
}

#register-btn{
    background: #1C7C54;
}

#login:hover{
    background: #bdd79e;
    cursor: pointer;
}

#register-btn:hover{
    background: #2e9f70;
    cursor: pointer;
}

.content {
    display: inline-block;
    min-width: 90%;
    max-width: 90%;
    height: 85vh;
    margin-top: 1%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.content .login{
    width: 50%;
    max-height: 90%;
    display: inline-block;
    vertical-align: middle;
}

.gato{
    width: 45%;
    max-height: 90%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    object-fit: fill;
}

.gato #gato{
    width: 110%;
}


.img{
    display: inline-block;
    margin-top: 0%;
    max-width: 100%;
}

#hi{
    font-size: 35px;
    color: white;
    margin: 2%;
    margin-top: 1%;
}

#welcome{
    color: white;
    font-size: 17px;
    margin: 3%;
}

.input{
    background: transparent;
    border-style: solid;
    border-color: white;
    width: 65%;
    padding: 20px;
    margin: 3%;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

.input::placeholder{
    color: white;
}


.link{
    color: #00D1FF;
    text-decoration: none;
}

#forgor{
    margin-left: 50%;
}

.link:hover{
    text-decoration: underline;
}

.link:active{
    color: #00D1FF;
}

.link:visited{
    color: #00D1FF;
}

.login #login{
    margin: 0;
    margin-left: 1%;
    margin-top: 4%;
    width: 70%;
    background: #1C7C54;
    font-size: 20px;
    transition: background 0.35s;
}

.login #login:hover{
    background: #2a845e;
    cursor: pointer;
}


#register #password{
    margin-top: 4%;
}

#register #login{
    margin: 0;
    margin-left: 1%;
    margin-top: 5%;
    width: 70%;
    background: #1C7C54;
    font-size: 20px;
}

#register #login:hover{
    background: #258d62;
}

.bottom-text{
    color: white;
    margin-top: 1%;
    margin-left: 6%;
}

#login-form{
    visibility: visible;
    opacity: 1;
    max-height: 90%;
}

#register{
    visibility: hidden;
    opacity: 0;
    margin-top: 2%;
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 65.5%;
    left: 29%;
    transform: translate(-50%, -50%);
    max-height: 50%;
}




