*{
    margin: 0;
    padding: 0;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

*:focus{
    outline: none;
}

html, body{
    display: flex;
    text-align: center;
    background-image: url('bg.jpg');
    background-color: rgba(21, 46, 68);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}


.button {
    padding: 8px;
    width: 100px;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 50px;
    margin: 1%;
    margin-left: 2%;
    margin-right: 2%;
    transition: background 0.3s;
}

.content {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.content #logo-div{
    z-index: 5;
    background-color: #27455F;
    display: flex;
    width: 50%;
}


.content .left{
    display:flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}


#login-window{
    z-index: 2;
    width: 60%;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateX(50%);
    transition: all 1s ease;
}

.moveleft {
    transform: translateX(-760px) !important;
    opacity: 0;
}

.move-right{
    transform: translateX(-200px) !important;
    opacity: 1 !important;
}

.returnLogin{
    transform: translateX(200px) !important;
    opacity: 1 !important;
}

.returnReg{
    transform: translateX(-950px) !important;
    opacity: 0 !important;
}

.img{
    display: inline-block;
    margin-top: 0%;
    max-width: 100%;
}

#hi, #reg{
    padding-top: 3rem;
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin: 2%;
    margin-top: 1%;
    width: 100%;
}

#welcome{
    justify-self: center;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 3%;
}

.login #login-form{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input{
    display: flex;
    background: transparent;
    border-style: solid;
    border-color: rgb(181, 181, 181);
    width: 80%;
    padding: 15px;
    margin-top: 1%;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 15px;
}

.input::placeholder{
    color: rgb(181, 181, 181);
}


.link{
    color: #00D1FF;
    text-decoration: none;
}

#forgor{
    width: 100%;
    margin-top: 12%;
    margin-left: 60%;
}

.link:hover{
    text-decoration: underline;
}

.link:active{
    color: #00D1FF;
}

.link:visited{
    color: #00D1FF;
}

.login #login{
    border-radius: 10px;
    margin: 0;
    margin-top: 4%;
    width: 95%;
    background: #1C7C54;
    font-size: 20px;
    transition: background 0.35s;
}

.login #login:hover{
    background: #2a845e;
    cursor: pointer;
}


.bottom-text{
    color: rgb(0, 0, 0);
    margin-top: 10%;
    margin-bottom: 10%;
}

/*register*/
#register-window{
    width: 60%;
    background-color: white;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateX(-50%);
    opacity: 1;
    transition: all 1s ease;
}

.register #register{
    border-radius: 10px;
    margin: 0;
    margin-top: 4%;
    width: 95%;
    background: #1C7C54;
    font-size: 20px;
    transition: background 0.35s;
}

.register #register:hover{
    background: #2a845e;
    cursor: pointer;
}

.register #forgor{
    margin-left: 40%;
}

.register .input{
    margin: 0%;
}






