:root {
    --step--5: clamp(0.4096rem, 0.4669rem + -0.0739cqi, 0.4521rem);
    --step--4: clamp(0.512rem, 0.5532rem + -0.0531cqi, 0.5425rem);
    --step--3: clamp(0.64rem, 0.6549rem + -0.0192cqi, 0.651rem);
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326cqi, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087cqi, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174cqi, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696cqi, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793cqi, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651cqi, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504cqi, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658cqi, 3.8147rem);
  }

html, body{
    max-width: 100%;
    background: rgb(255, 255, 255);
}

body{
    background-image: url(fullBG.png);
    background-size: fill;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*:focus{
    outline: none;
}

nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 99%;
    height: 56px;
    top: 1rem;
    padding: 0.2rem;
}

nav img{
    width: 8%;
    height: 55px;
    margin-left: 5%;
}

nav ul {
    margin-left: 35%;
    list-style-type: none;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    line-height: 1rem;
    font-style: normal;
    align-items: center;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #9A0000;
}


.navsearch {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 65%;
    height: 30px;
    top: 15px;
    align-items: center;
    background-color: #D9D9D9;
}

.searchfield{
    width:100%;
    height: 2.1rem;
    border-radius: 3px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background-color: #D9D9D9;
    color: #9F9B9B;
    border: none;
}

.searchbutton{
    position: absolute;
    margin-top: 0.4rem;
    left: 60%;
    width: 40%;
    height: 20%;
    border: none;
    align-items: right;
    background-color: transparent;
}

.searchbutton img{
	width: 20px;
	height: 20px;
}

.navsearch:hover{
    color: #000;
}


.navbidder{
    position: absolute;
    width: 9%;
    height: 2rem;
    right: 15%;
    top: 15px;
    background: #9A0000;
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: none;
}

.navbidder:hover{
    font-style: normal;
}


.navmenu {
    position: absolute;
    width: 2.5rem;
    height: 1.7rem;
    right: 10%;
    top: 17px;
    border: none;
}

.maintxt{
	width: 80%;
	height: 55%;
	padding: 1rem;
	display: inline-flex;
}

.info-txt{
	width: 65%;
	height: 60%;
	margin: auto 4rem;
	top: 5rem;
	border-left: 5px solid #9A0000;
	
}

.mainheadings{
	width: 100%;
	margin-top: 10%;
	margin-left: 10%;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 75px;
	letter-spacing: 2px;
	color: #000000;
}

.subheadings{
	width: 100%;
	margin-left: 10%;
    font-family: 'Roboto Condensed'; 
    font-weight: lighter; 
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 1rem;

}

.mainimg{
	width: 30%;
	height: 100%;
	left: 950px;
	top: 60px;
	
}


.bidnow{
	width: 140px;
	height: 40px;
	margin-left: 10%;
	background: #9A0000;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 510px;
	font-size: 15px;
	line-height: 28px;
	color: #FFFFFF;
	border: none;
}

.bidnow:hover{
	text-decoration: underline;
	font-style: italic;
}


.socials{
	margin: 1rem 0 0 3.5rem;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.socials img{
	margin-bottom: 10px;
}

.socials img:hover{
	cursor: pointer;
	height: 25px;
	width: 25px;
}

.biddings{
	width: 100%;
}

.urgent{
	font-family: 'Roboto Condensed';
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.line2{
	width: 920px;
    border-bottom: 5px solid #9A0000; 
}

.biddercontainer{
	display: flex;
	justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.box{
	display: flex;
    width: 25%;
    padding: 1%;
    background-color: #D9D9D9;
    margin-top: 1rem;
    align-items: center;

}

.box img{
    
    top: 20px;
    left: 10px;

}

.offname{
	
	width: 220px;
	height: 50px;
	left: 130px;
	top: 10px;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 23px;
	color: #000000;
}


.bidspec{
	
	width: 100px;
	height: 14px;
	left: 130px;
	top: 30px;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 14px;
	color: #000000;
}

.biddesc{
	width: 199px;
	height: 48px;
	left: 130px;
	top: 60px;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 12px;
	color: #000000;
}

.officebid{
	width: 81px;
	height: 25px;
	left: 130px;
	top: 110px;
	background-color: #9A0000;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
}

.officebid:hover{
	text-decoration: underline;
	font-style: italic;
}

.office-img{
	display: inline-block;
}


@media (max-width: 1409px){
	.maintxt{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    margin: 0 auto;

	}

	.info-txt{
		width: 100%;
		border: none;

	}
	.mainheadings{
		margin: 0 auto;
		text-align: center;
	}
	.subheadings{
		margin: 0 auto;
		text-align: center;
	}
	.bidnow{
		display: block;
    	margin: 1rem auto;
	}
	.socials{
		display: none;
	}
	 .biddings {
        display: inline-block;
    }

    .biddercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .box{
    	width: 30%;
    }

    .urgent {
        text-align: center;
        width: 100%;
        margin-top: 10%;
    }

    .line2 {
        border: none;
    }
  
}

@media (max-width: 1300px){
	body{
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

@media (max-width: 1242px){
	.box{
		width: 40%;
		align-items: center;
	}
}

@media (max-width: 1270px){
    nav ul{
        margin-left: 25%;
    }

    .navsearch{
    	left: 60%;
    }
}

@media (max-width: 1024px){
    .navsearch{
        left: 60%;
        height: 2rem;
    }
}

@media (max-width: 1006px) {
    .navsearch{
        left: 60%;
        height: 2rem;
        width: 11%;
    }
    nav ul{
        margin-left: 18%;
    }
    .maintxt-container{
        margin-top: 3rem;
    }
    .urgent{
    	width: 100%;
    }
}

